<h1>SFM: {{ surfaceFeetPerMinute$ | async }}</h1>
<h1>Chip Load: {{ chipLoad$ | async }}</h1>
<form [formGroup]="toolForm">
  <mat-form-field>
    <mat-label>Material To Cut</mat-label>
    <mat-select formControlName="materialToCut">
      <mat-option *ngFor="let material of materials" [value]="material.name">
        {{ material.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label> Tool Material Type
    </mat-label>
    <mat-select formControlName="toolMaterialType">
      <mat-option value="carbide">
        Carbide
      </mat-option>
      <mat-option value="hss">
        HSS
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Tool Diamter" formControlName="toolDiameter">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Number of Flutes" formControlName="numberOfFlutes">
  </mat-form-field>
  <section>
    <label>Cut aggression:</label>
    <mat-radio-group formControlName="cutAggression">
      <mat-radio-button value="aggressive">
        Aggressive
      </mat-radio-button>
      <mat-radio-button value="conservative">
        Conservative
      </mat-radio-button>
    </mat-radio-group>
  </section>
</form>
<pre>
  {{ formData$ | async | json }}
</pre>
